/* HEADER */

.main_header {
    max-width: 1300px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.main_header .main_header_logo img {
    width: 150px;
    margin: 10px;
}

.main_header .main_header_nav a {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-right: 4px;
    color: #60605f;
    background-color: #99b1dd;
    padding: 7px;
    border-radius: 4px;
}

/*FORM*/

.main_form_title{
    display: block;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 150;
    font-family: "Verdana", sans-serif;
    color: #60605f;
}

.main_form{
    display: block;
    text-align: center;
}

.main_form div label{
    padding-right: 40px;
    font-size: 15px;
    font-weight: 300;
    font-family: Verdana, sans-serif;

}

.main_form div input{
    width: 200px;
    margin: 5px auto;
}

.main_form button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: #99b1dd;
    font-weight: bold;
    font-size: 15px;
}