body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.telaInteira {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 10%;
}

header h1{
    font-weight: 500;
    font-size: 30px;
    color: #E3E3E3;
}

header input {
    padding: 5px 0;
}

main {
    min-height: 80%;
    display: flex;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);

}

.menu-vertical {
    flex-basis: 200px;
    border-right-style: solid;
    border-right-width: thin;
}

.botoes-menu-vertical {
    list-style-type: none;
    border: 1px solid #D36833;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
    text-align: center;
    font-weight: 400;
}

.botoes-menu-vertical:hover{
    font-size: 20px;
    cursor: pointer;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    color: #E3E3E3;


}

.painel-de-videos {
    padding-left: 20px;
    padding-top: 20px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 24.8% 0.2%);
    grid-template-rows: repeat(4, 270px 20px);
}

.media1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.media2 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.media3 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.media4 {
    grid-column-start: 7;
    grid-row-start: 1;
}

.media5 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.media6 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.media7 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.media8 {
    grid-column-start: 7;
    grid-row-start: 3;
}


.box-pagina-principal {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;
    align-items: start;
    justify-items: stretch;
    margin: 0 5px;
    cursor: pointer;
}


footer {
    height: 10%;
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);


    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.box-pagina-principal > img {
    width: 100%;
    height: 200px;
}

h4 {
    margin-left: 20px;
}